<div class="messagebar-fixed">
  <div id="messagebar" style="height: 100%; width: 100%;">
    <div id="chattab" class="tab-content" style="height: 100%; width: 100%;">

      </div>
  </div>
</div>