
<div id="U1" class="tab-pane  " >
  <p><%=@provider_response%></p>
</div>
<div id="U2" class="tab-pane " style="height: 100%;">
  <div id="chatmsg" >
    <div class="message">
      <p><strong >Pankaj: </strong>hi</p>
    </div>
    <div class="message">
      <p ><strong>Priyankka: </strong>hi</p>
    </div>
    <div class="message">
      <p><strong >Pankaj: </strong>how r u?</p>
    </div>
    <div class="message">
      <p ><strong >Priyankka: </strong>I am good</p>
    </div>
  </div>
</div>
<div id="U3" class="tab-pane" style="height: 100%;">
  <div class="message"  ><p style="word-wrap:break-word;">What up girl, this is Section C.long llllllllllllllllllll
    fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhgggggggggggggggggggg</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>
  <div><p>What up girl, this is Section C.</p></div>

</div>