<div class="messagebar-fixed">
  <div id="messagebar" style="height: 100%; width: 100%;">
    <div class="tab-content" style="height: 100%; width: 100%;">
        <%= render 'messages/message_contents' %>
      </div>
  </div>
</div>