<div id='search-box' class="search-result-fixed">
  <div style='width: 100%; height: 100%; overflow: auto;'>
    <div id='search-scroll' style="height: 100%">
      <%= render 'people/sample_result' %>
    </div>
  </div>
</div>