<div id='search-box' class="search-box-fixed">
  <div class='input-append'>
    <div class='span2 search-hints' style='min-width: 200px;'>Search for Him/Her:</div>
    <input type='text' id='search-item'/>
    <button id='search-btn' class='searchbox-btn btn btn-primary' style='float: left;' type='button'>Search</button>
  </div>
</div>