/* chat message content */
.home-fixed {
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.chat-container {
  bottom: 93px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.optionbar-fixed{
  background-color: #F8F8F8;;
  border: 1px solid #D7D7D7;
  left: 230px;
  right: 0;
  padding-left: 10px;
  height: 40px;
}
.nav-pills > li > a:first-child {
  margin-top: 0;
}
.buddy-status {
  float:left;
  left:5px;
  top:10px
}
.buddy-name{
  float:left;
  padding: 10px;
}
.buddy-options{
  float:right;
  padding: 6px;
  margin-right: 10px;
}
.tab-pane{
  height:100%;
  width: 100%;
  padding-left: 10px;
}
.messagebar-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  //box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 230px;
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  //background-color: #ffffff;
}
.messagebar-box {
  position: absolute;
  top: 41px;
  bottom: 0;
  width: 100%;
  left: 0;
  border: 1px solid #D7D7D7;
}

#messagebar{
  //height: 100%;
  //width: 100%;
  overflow: visible;
}

.message{
/*border-bottom: 1px dotted #F5F6F7;*/
  padding-top: 4px;

}
/* chat bottom bar */
.chatbox {
  height: 69px;
  color: #222;
  width: 100%;
  resize: none;
  margin-bottom: 0;
}

.chatbox:focus, .chatbox:active, .chatbox:hover {
  outline: 0;
}

.chatboxbtn {
  padding: 25px 25px;
  font-size: 22px;
}

.chat{
  white-space:pre-wrap;
  padding-left: 2px;
}

.chat-event {
  color:#999999;
}
.chat-temp-event{
  color:#999999;
}
.chat-scroll{
  height: 100%;
}
.sidebar-fixed {
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  border: 1px solid #D7D7D7;
  //box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 219px;
}
.sidebar-fixed header {
  text-align: center;
  top: 0px;
  position: absolute;
  height: 40px;
  border-bottom: 1px solid #D7D7D7;
  width: 100%;
}
.sidebar-header {
  padding: 10px;
  color: #3366CC;
}
.sidebar-contacts{
  bottom: 30px;
  position: absolute;
  top: 42px;
  background-color: white;
}

.sidebar-search-fixed{
  left: 0;
  position: absolute;
  bottom: 0;
  z-index: 1025;
  width: 100%;
  border-top: 1px solid #D7D7D7;
}
.chattext-bottom  {
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
}
#remembereds .nav {
  border: 0;
}
#sidebar{
  overflow: hidden;
  height: 100%;
}

.sidebar-search-fixed input[type="text"] {
  border-radius: 0;
  width: 85%;
  margin: 0;
  left: 1px;
  position: relative;
}

.roster-contact {
  position: relative;
  background-color: #FFFFFF;
}
.roster-name{
  margin-left: 15px;
}

