/* chat message content */
.optionbar-fixed{
  background-color: #F8F8F8;;
  border: 1px solid #D7D7D7;
  top: 50px;

  box-shadow: 0 1px 0 #DBDFEA inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 230px;
  right: 0;
  position: fixed;
  padding-left: 10px;
  height: 40px;
  z-index: 50;
}

.buddy-status {
  float:left;
  left:5px;
  top:10px
}
.buddy-name{
  float:left;
  padding: 10px;
}
.buddy-options{
  float:right;
  padding: 6px;
  margin-right: 10px;
}
.tab-pane{
  height:100%;
}
.messagebar-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 230px;
  right: 0;
  position: fixed;
  top: 90px;
  bottom: 105px;
  //z-index: 1020;
  //padding-left: 10px;
  background-color: white;
  z-index: 50;
}

#messagebar{
  height: 100%;
  width: 100%;
  overflow: auto;
}

.message{
/*border-bottom: 1px dotted #F5F6F7;*/
  padding-top: 4px;

}

.chat-event {
  color:#999999;
}
.chat-scroll{
  height: 100%;
}