/* chat message content */
.optionbar-fixed{
  background-color: #F8F8F8;;
  border: 1px solid #D7D7D7;
  top: 50px;

  box-shadow: 0 1px 0 #DBDFEA inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 230px;
  right: 0;
  position: fixed;
  padding-left: 10px;
  height: 40px;
  z-index: 50;
}

.buddy-status {
  float:left;
  left:5px;
  top:10px
}
.buddy-name{
  float:left;
  padding: 10px;
}
.buddy-options{
  float:right;
  padding: 6px;
  margin-right: 10px;
}
.tab-pane{
  height:100%;
  width: 100%;
}
.messagebar-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 230px;
  right: 0;
  position: fixed;
  top: 92px;
  bottom: 105px;
  z-index: 50;
  background-color: #ffffff;
}

#messagebar{
  //height: 100%;
  //width: 100%;
  overflow: visible;
}

.message{
/*border-bottom: 1px dotted #F5F6F7;*/
  padding-top: 4px;

}
.chat{
  white-space:pre-wrap;
  padding-left: 8px;
}

.chat-event {
  color:#999999;
}
.chat-temp-event{
  color:#999999;
}
.chat-scroll{
  height: 100%;
}
.sidebar-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 135px;
  z-index: 1020;
  width: 219px;
  overflow: hidden;
}
.sidebar-search-fixed{
  border-color: #F1F1F1;
  left: 0;
  position: fixed;
  bottom: 105px;
  z-index: 1025;
  width: 219px;
  background-color: #F1F1F1;
  padding-top: 5px;
}

#sidebar{
  overflow: hidden;
  height: 100%;
}

.sidebar-search-fixed input[type="text"] {
  border-radius: 0;
  width: 185px;
  margin: 0;
}
.roster-contact {
  position: relative;
  background-color: #FFFFFF;
}
.roster-name{
  margin-left: 15px;
}