#app-container{
  bottom: 5px;
  position: absolute;
  right: 0;
  top: 41px;
  width: 0;
  border: 0;
  overflow: auto;
}
#internalapp-container{
  bottom: 5px;
  position: absolute;
  right: 0;
  top: 41px;
  width: 0;
  border: 0;
}
.video-content {
  width: 100%;
}