
/* home pages */
.loginbtn {
  position: absolute;
  left: 36.5%;
  top: 250px;
  color: #808080;
  min-width: 350px;
  //border: 1px solid #d7d7d7;
  //box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  min-width: 550px;
}
.loginbtn.span5 {
  margin-left: 0;
}

.loginbox-fixed {
  //border: 1px solid #D7D7D7;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 50px;
  bottom: 10px;

  overflow: hidden;
  //background-color: white;

}

.login-page {
  min-height: 600px;
}

.login-description {
  font-size: 50px;
  text-align: center;
  padding-top: 150px;
}
.login-privacy {
  position: absolute;
  left: 15%;
  top: 500px;
  max-width: 70%;
  color: #808080;
}

.loginbtn.span6{
  margin-left: 0;
}
.auth-btn {
  margin-left: 5px;
  font-size: 17px;
  min-height: 0;
  font-weight: bold;
  min-width: 125px;
  padding-top: 10px;
}

.openid_large_btn {
  width: 100px;
  height: 60px;
/* fix for IE 6 only: http://en.wikipedia.org/wiki/CSS_filter#Underscore_hack */
  _width: 104px;
  _height: 64px;

  border: 2px solid #DDD;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin: 3px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.openid_large_btn:hover {
/*margin: 4px 0 0 6px;*/
  border: 2px solid #999;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


a.openid_large_btn:focus {
  outline: none;
}

a.openid_large_btn:focus {
  -moz-outline-style: none;
}

.login-body{
  background: url("/img/bg-login.png") repeat scroll 0 0 #1B1B1B;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.login-body-top{
  background: url("/img/bg-login-top.png") repeat scroll 0 0 #FFFFFF;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  z-index: 1;
}
.login-wrapper {
  left: 50%;
  margin: 0 0 0 -160px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 320px;
}
footer a:hover {
  color: #666;
}