
/* home pages */
.loginbtn {
  position: absolute;
  left: 36.5%;
  top: 150px;
  color: #808080;
  min-width: 350px;
}
.loginbtn.span4 {
  margin-left: 0;
}

.loginbox-fixed {
  border: 1px solid #D7D7D7;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 50px;
  bottom: 10px;

  overflow: hidden;
  background-color: white;
}

.login-page {
  min-height: 600px;
}

.login-description {
  font-size: 120px;
  text-align: center;
  padding-bottom: 50px;
}
.login-privacy {
  position: absolute;
  left: 15%;
  top: 400px;
  max-width: 70%;
  color: #808080;
}

.input-append .auth-btn {
  margin-left: 5px;
  font-size: 17px;
  min-height: 0;
  font-weight: bold;
}

.input-append .auth-btn:last-child {
  border-radius: 0;
}