<div class="optionbar-fixed">
  <div id="buddy-name"style="float:left; font-weight: bold; padding: 10px;">Notifications(2)</div>
  <div id="buddy-options" style="float:right;padding: 6px; visibility:hidden;">
    <button id="remember" class="btn btn-primary add">Remember</button>
    <button class="btn btn-danger dropdown-toggle block" data-toggle="dropdown">Block</button>
    <ul class="dropdown-menu preserve" style="left: auto !important;right: 0;">
      <li class="input-append" style="margin-bottom: 0; padding-right: 5px">

        <input type="text" />
        <button class="btn btn-primary">Ok</button>
      </li>
    </ul>
  </div>

</div>
<div class="messagebar-fixed">
  <div id="messagebar" class="tab-content">

  </div>
</div>