
<div class="input-append" >
  <button id="stranger" type="button" class="btn btn-large chatboxbtn span3 btn-primary" style="width: 210px; margin-left: 10px;">Hang out</button>
  <div style="margin-left: 230px;" >
    <div style="margin-right: 20px; ">
      <textarea id="chattypebox" class="chatbox"  placeholder="Lets talk about?"></textarea>
      <input type="hidden" id="current-user" />
    </div>
  </div>

</div>