
<div class="input-append" >
  <button id="stranger" type="button" class="btn btn-large chatboxbtn span3 btn-primary" style="width: 210px; margin-left: 10px;">Lets Talk</button>
  <div style="margin-left: 230px;" >
    <div style="margin-right: 20px; ">
      <textarea id="chattypebox" class="chatbox"  placeholder="Lets talk about?"></textarea>
      <input type="text" x-webkit-speech style="position: relative;
              right: 29px;
              background: none;
              width: 17px;
              height: 20px;
              border: none;
              box-shadow: none;
              top: 47px;" />
    </div>
  </div>

</div>