
<div class="input-append" >
  <button type="button" class="btn btn-large chatboxbtn span3" style="width: 210px; margin-left: 10px;">Stranger</button>
  <div style="margin-left: 230px;" >
    <button type="button" class="btn btn-large chatboxbtn"
            style=" float: right; margin-right: 10px;">Send</button>
    <div style="margin-right: 130px; ">
      <textarea id="chattypebox" class="chatbox" ></textarea>
      <input type="hidden" id="current-user" value="pankaj@metly.com"/>
    </div>
  </div>

</div>