<header class="navbar-fixed-top navbar">
  <script type="text/javascript">
    $.xmppStart();
  </script>
  <div class="navbar-inner" >
    <%= link_to "metly", root_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "#{@user.user_details[0].name}", root_path ,style: "padding-top: 10px; padding-bottom: 10px", id: "search"%></li>
        <li><%= link_to "logout", destroy_user_session_path, style: "padding-top: 10px; padding-bottom: 10px"%></li>
      </ul>
    </nav>
  </div>
</header>