<header class="navbar-fixed-top navbar">
  <div class="navbar-inner" >
    <%= link_to "odin", '#', id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li class="active">
          <a href="#"><%= @user_name%> </a>
        </li>
        <li>
          <a href="#"
             class=" user-icon-setting dropdown-toggle"
             data-toggle="dropdown"
             style="margin-right: 2px;"></a>
          <ul class="dropdown-menu" style="margin-right: 10px;">
              <li>
                <%= link_to "logout", "/sign_out", style: "padding-top: 10px; padding-bottom: 10px"%>
              </li>
              <!--<li>
                <%= link_to "password", '#', style: "padding-top: 10px; padding-bottom: 10px" %>
              </li>
              -->
            </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>