<div class="messagebar-fixed">
  <div id="messagebar" class="tab-content">
    <script type="text/javascript">
      $.new_message_box.call($("<a data-toggle='chat' class='roster-contact'  href='#notification'></a>"), 'notification');
    </script>
  </div>
</div>