<div class="messagebar-fixed">
  <div class="messagebar-box">
    <div id='message-scroll' style='width: 100%; height: 100%; overflow: hidden;' class="white">
      <div id="messagebar" class="tab-content">
        <!--<div class="tab-pane active">-->
        <!--</div>-->
      </div>
    </div>
    <script type="text/javascript">
        var audioplayerListener = new Object(); audioplayerListener.onInit = function() { };
   </script>
    <object id="chat-sound-player" type="application/x-shockwave-flash" data="/res/audioplayer.swf" width="0" height="0">
      <param name="movie" value="/res/audioplayer.swf" /><param name="AllowScriptAccess" value="always" />
      <param name="FlashVars" value="listener=audioplayerListener&amp;mp3=/res/notify.mp3" />
    </object>
  </div>
  <div class="optionbar-fixed">
    <div class='buddy-status hidden'></div>
    <div class='buddy-name'>
      <a data-toggle='tab' href='#notification' style='color: #3366CC;'>Notifications</a>
    </div>
    <div class='buddy-options hidden'>
      <button class='video btn btn-primary' >Video</button>
      <button class='remember btn btn-primary' ></button>
    </div>
  </div>
</div>
