<div class="notification-header">
  <div id = 'all-notifications'><a data-toggle='chat' href='#notification'>View all
    notifications</a></div>
</div>

<div class="notification-scroll-menu">
  <div class="notification-contents">

  </div>
</div>