<div class="notification-header">
  <div class="all-notification"><a data-toggle='chat' href="#notification" style="color: #3366CC !important;">View all notifications</a></div>
</div>

<div class="notification-scroll-menu">
  <div class="notification-contents">
    <script type="text/javascript">
      $.menuNotifications();
    </script>
  </div>
</div>