<div class="notification-header">
  <div class="all-notification"><a href="#notification" style="color: #3366CC;">View all notifications</a></div>
</div>


<div class="notification-contents">
  <li>
    <div class="notification-item">
      <a href="#" class='notification-user'>pankaj the coder</a>
      <button class='btn btn-primary notification-accept-bnt'>accept</button>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-user'>pankaj the coder</a>
      <button class='btn btn-primary notification-accept-bnt'>accept</button>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-user'>pankaj the coder</a>
      <button class='btn btn-primary notification-accept-bnt'>accept</button>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-user'>pankaj the coder</a>
      <button class='btn btn-primary notification-accept-bnt'>accept</button>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-user'>pankaj the coder</a>
      <button class='btn btn-primary notification-accept-bnt'>accept</button>
    </div>
  </li>
  <li>
    <div class="notification-item">
      <a href="#" class='notification-text-user'>
        pankaj the coder
      </a>
      <div class="notification-text">baby i love you <3</div>
    </div>
  </li>
</div>