<div class="sidebar-search-fixed">
  <div style='height: 100%; display: inline;'>
    <div class='icon-search' style="height:20px; background-position: -48px 3px;"></div>
  </div>
  <input id="searchTerm" type='text' placeholder="Search me!"/>
</div>