<div class="sidebar-fixed">
<div class="sidebar-contacts" >
  <div id="sidebar" class="scrollable span12">
    <div id="remembereds"  class="tabs-left span12" style="overflow: hidden; width: 219px;">
      <ul class="nav nav-tabs nav-pills span12" style="font-size: 13px;margin-bottom: 0px;">
        <li >Loading..</li>
      </ul>
    </div>
  </div>
</div>
<%= render 'home_pages/sidebar_search' %>
</div>