<div class="sidebar-search-fixed" >
  <div class='input-append dropup' >
    <div class='icon-search' style="height:20px; background-position: -48px 3px;"></div>
    <input type='text'/>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu side-drop-menu">
      <li id="hide-offline"><a href='#'><i class="icon-ok" style='padding-right: 4px;margin-top: 2px'></i>Hide Offline</a></li>
    </ul>
  </div>
</div>