<footer>
  <div style="position:relative; left:44%">
    <%= link_to "Terms of Use", termofusage_path, class: "", title: "Terms of Use" %>
    <%= link_to "Privacy Policy", privacy_path, class: "", title: "Privacy Policy" %>
  </div>

</footer>