<header class="navbar-fixed-top navbar navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "metly", '#', id: "logo" %>
    <em style="float:left">Alpha</em>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to 'feedback' , '#', style: "padding-top: 10px; padding-bottom: 10px", class: 'feedback' %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "About Us", contact_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
  </div>
</header>