<header class="navbar-fixed-top navbar">
  <div class="navbar-inner">
    <%= link_to "metly", '#', id: "logo" %>
    <em style="float:left">beta</em>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to 'feedback' , '#', style: "padding-top: 10px; padding-bottom: 10px", class: 'feedback' %></li>
        <li><%= link_to "About Us",    '#' %></li>
        <li><%= link_to "Help", '#' %></li>
      </ul>
    </nav>
  </div>
</header>