<div class="login-page loginbox-fixed">


  <div class="loginbtn span4">
    <div class="login-description">Metly
    </div>
    <fieldset>
      <legend>Sign-in</legend>
      <div class="input-append">
        <%= link_to "Anonymous", anonymous_path, class: "auth-btn btn btn btn-primary btn-large span4", title: "log in Anonymously" %>
        <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "auth-btn btn btn-primary btn-large span4", title: "log in with Facebook" %>
        <%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), class: "auth-btn btn btn-primary btn-large span4", title: "log in with Google" %>
      </div>
      <!--<p>Google login has been disabled to testing</p>-->

    </fieldset>
  </div>

  <div class="login-privacy">
    <p>Metly is a great way to interact with people near by you. When you are in metly we pick a random near by user and
      let you chat with each other. This interaction in complete anonymous and you can disconnect it anytime you want.
      However if you like to you can remember them and chat with them later.</p>

  </div>
  <%= render 'login_pages/footer' %>
</div>