<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
  <div class="loginbtn span6">
    <div class="span6" style="border-right:1px solid #808080;text-align: center; padding-right: 10px;min-width: 200px;">
      <div style="margin-bottom: 10px">
        Find a new friend near by you where ever you go. You can choose to remember the user you are chatting with or you choose only one time chat. The chat will be completely anonymous
        You can try it as anonymous.
      </div>
        <div class="span3"></div>
        <%= link_to "Anonymous", anonymous_path, class: "auth-btn btn btn btn-primary span6", title: "log in Anonymously" %>
    </div>
    <div class="span6" style="min-width: 200px;">
    <fieldset >
      <div style="font-size: 21px;line-height: 40px;margin-bottom: 20px;text-align: center">Sign-in</div>
        <div>
          <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "auth-btn btn btn-primary span6", title: "log in with Facebook" %>
          <%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), class: "auth-btn btn btn-primary span6", title: "log in with Google" %>

        </div>
      <!--<p>Google login has been disabled to testing</p>-->

    </fieldset>
      </div>
  </div>
        </div></div></div>