<%= render 'login_pages/header' %>

<div class="container-fluid">
  <div class="container container-body">
    <div style="text-align: center"><h3>About Us</h3></div>
    <p><h4>Developer:</h4></p>
    <p><strong>Name:</strong>Pankaj Kumar<br/>
      <strong>Email:</strong>pankaj4u4m@gmail.com<br/>
      <strong>Contacts:</strong> +918977674772
    </p>
  </div>
</div>