<%= render 'login_pages/header' %>

<div class="container-fluid">
  <div class="container container-body">
    <div style="text-align: center"><h3>Help</h3></div>
    <p>For any query please mail to pankaj4u4m@gmail.com</p>
  </div>
</div>