<%= render 'login_pages/header' %>

<body class="login-body">
<div class="login-body-top">
  <div class="login-wrapper">
    <div class="login-description">
      Friendmaybe
    </div>
    <em style="text-align: right;padding-top: 15px;display: block;">
      lets know people
    </em>
  </div>
</div>
<%= render 'login_pages/loginbox' %>
<!--<div class="login-privacy">-->
<!--<p>Friendmaybe is a great way to interact with people near by you. When you are in friendmaybe we pick a random near by user and-->
<!--let you chat with each other. This interaction in complete anonymous and you can disconnect it anytime you want.-->
<!--However if you sigin in you can remember them and chat with them later. </p>-->

<!--</div>-->
<%= render 'login_pages/footer' %>
</div>
</div>
</body>