<%= render 'login_pages/header' %>

<div class="container-fluid">
  <div class="container container-body">
    <div style="text-align: center"><h3>Privacy Policy</h3></div>
    <p>This privacy policy sets out how Friendmaybe uses and protects any information that you give when you use this
      website.</p>

    <p>Friendmaybe is committed to ensuring that your privacy is protected. However privacy cannot be guaranteed as nothing in
      the world is perfect. METLY DOESN'T ACCEPT ANY KIND OF LIABLE OR RESPONSIBLE FOR ANY KIND OF DAMAGE OR LOSS HAPPEN
      WHILE USING THE SERVICE </p>

    <h4>User Privacy:</h4>

    <p>Friendmaybe Uses Facebook or Google login to keep track of your remembered people and associate the same when you login
      in and store the state when you logout. Friendmaybe only fetch VERY BASIC information like emailId, name, age and gender
      etc. All these information is only used for internal purpose for account management and best matching with
      stranger.</p>

    <p>While interacting with stranger Friendmaybe may share your gender and age only for initial introduction. However it
      only shares if you provide these information to Friendmaybe else it will not. Friendmaybe don't share your name to the stranger.
      But if you want to remember the stranger for later interaction you will share your name only. It is done so that you
      can know the real name of stranger you are remembering.</p>

    <p>There is no way stranger/remembered users can know your facebook or google information.</p>

    <p>However If you still concern about user privacy you can still enjoy the Friendmaybe service without sign in and no information will be stored.</p>

    <h4>Use of cookies:</h4>

    <p>Friendmaybe uses cookies to store recognize the user so that it can associate with your account and you don't need to
      signin each time you visit the site.</p>

    <h4>Shared with Friendmaybe:</h4>

    <p>Friendmaybe may logged your request and response for internal use and quality purpose which also includes your public
      IP address.</p>

    <p>Friendmaybe keep history of your chat with rememered yours only. Chatting with strangers are not stored</p>

    <p>Friendmaybe may change this policy from time to time by updating this page. You should check this page from time to
      time to ensure that you are happy with any changes.</p>
  </div>
</div>
<%= render 'login_pages/footer' %>