
/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */
*{
  margin:0;
  padding:0;
  outline: none;

}
body{
  background-color: #F7F8FA;
}
.debug_dump {
  position: absolute;
  width: 100%;
  bottom: 100px;
  @include box_sizing;
  z-index: 2000;
  display: none;

}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  color: #555;
  padding-left: 10px;
}
#logo:hover {
  text-decoration: none;
}
.x-large{
  font-size: x-large;
}

footer {
  position: fixed;
  border: appworkspace solid thin;
  width: 100%;
  bottom: 0;
  height: 4em;
}
/* home pages */
.loginbtn{
  position: absolute;
  left: 42.553%;
  top: 30%;
  color: white;
  min-width: 100px;
}

.loginbox-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 10px;
  position: fixed;
  right: 10px;
  top: 50px;
  bottom: 10px;
  z-index: 1020;
  overflow: hidden;
  background-color: white;
}
/* main pages */

#home-content{
  position: absolute;
  top: 3em;
  bottom: 0;
  right: 0;
  left: 0;
  border: #89A5C7 dashed thin;
  margin-right: 16em;
}

.sidebar-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 105px;
  z-index: 1020;
  width: 219px;
  overflow: hidden;
  background-color: white;
}

#sidebar{
  overflow: hidden;
  height: 100%;
}

/* chat bottom bar */
.chatbox{
  height: 69px;
  color: #222;
  width: 100%;
  resize: none;

}

.chatbox:focus, .chatbox:active, .chatbox:hover{
  outline: none;
}

.chatboxbtn{
  padding: 24px 24px;
  font-size: 22px;
}


/* chat message content */
.messagebar-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 230px;
  right: 0;
  position: fixed;
  top: 50px;
  bottom: 105px;
  z-index: 1020;
  margin-right: 10px;
  padding: 10px 0 10px 10px;
  background-color: white;
}
#messagebar * {
  overflow: hidden;
}
#messagebar{
  height: 100%;
  width: 100%;
  overflow: auto;
}

.message{
  /*border-bottom: 1px dotted #F5F6F7;*/
  padding-top: 4px;


}
.user-icon-setting{
  background: url("Black_Settings_60.png") left no-repeat;
  height: 19px;
  width: 20px;

}
.facebook{
  background: #FFF url("openid_providers_Facebook.gif") no-repeat center;
}
.google{
  background: #FFF url("openid_providers_Google.gif") no-repeat center;
}
 .chat{
   white-space:pre-wrap;
 }

