/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #F7F8FA;
}

li a {
  //color:#555555 !important;
  outline: 0;
}

li a:hover {
  //color: #000000 !important;
  outline: 0;
}

a:focus {
  outline: 0;
}

.btn:focus {
  outline: 0;
}

.debug_dump {
  position: absolute;
  width: 100%;
  bottom: 100px;
  @include box_sizing;
  z-index: 2000;
  display: none;

}

.placeholder {
  color: #999 !important;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  color: #888;
  padding-left: 10px;
}

#logo:hover {
  text-decoration: none;
}

//#remembereds a{
//  color: #555;
//}
#remembereds .active a {
  font-weight: bold;
}

.x-large {
  font-size: x-large;
}

footer {
  overflow: hidden;
  bottom: 0;
  height: 4em;
  position: absolute;
  width: 100%;
}

footer a {
  padding: 10px;
  color: #888;
}

/* main pages */

//#home-content {
//  position: absolute;
//  top: 3em;
//  bottom: 0;
//  right: 0;
//  left: 0;
//  border: #89A5C7 dashed thin;
//  margin-right: 16em;
//}

//#sidebar-search-fixed > .input-append input[type="text"]:focus {
//  box-shadow: none;
//}

.online {
  background-image: url("presence.png");
  background-position: -1px -13px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 10px;
  position: absolute;

}

.offline {
  background-image: url("presence.png");
  background-position: -1px 2px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 10px;
  position: absolute;
}

.away {
  background-image: url("presence.png");
  background-position: -1px -28px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 10px;
  position: absolute;
}

.user-icon-setting {
  background: url("Black_Settings_60.png") left no-repeat;
  height: 19px;
  width: 20px;

}

/*search page*/
.search-box-fixed {
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 50px;
  z-index: 1020;
  overflow: hidden;
  height: 55px;
  background-color: white;
}

.search-result-fixed {
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 104px;
  bottom: 0px;
  z-index: 1010;
  overflow: hidden;
  background-color: white;
}

#search-box {
  padding-top: 5px;
}

.search-hints {
  font-size: 20px;
  height: 40px;
  padding-top: 15px;
  padding-right: 4px;
  text-align: right;
}

.searchbox-btn {
  padding: 15px 15px;
  font-size: 21px;
}

#search-item {
  height: 40px;
  font-size: 19px;
  float: left;
  width: 50%;
}

.white {
  background-color: #FFF;
}
.container-body{
  top: 100px;
  position: relative;
}

.blue-text {
  color: #3366CC;
}