
/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */
*{
  margin:0;
  padding:0;
  outline: none;

}
body{
  background-color: #F7F8FA;
}
li a {
  color:#555555 !important;
}

li a:hover{
  color: #000000 !important;
}

.debug_dump {
  position: absolute;
  width: 100%;
  bottom: 100px;
  @include box_sizing;
  z-index: 2000;
  display: none;

}
.placeholder{
  color: #999 !important;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  color: #555;
  padding-left: 10px;
}
#logo:hover {
  text-decoration: none;
}
//#remembereds a{
//  color: #555;
//}
#remembereds .active a{
  font-weight: bold;
}

.x-large{
  font-size: x-large;
}

footer {
  position: fixed;
  border: appworkspace solid thin;
  width: 100%;
  bottom: 0;
  height: 4em;
}
/* home pages */
.loginbtn{
  position: absolute;
  left: 42.553%;
  top: 30%;
  color: white;
  min-width: 100px;
}

.loginbox-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 10px;
  position: fixed;
  right: 10px;
  top: 50px;
  bottom: 10px;
  z-index: 1020;
  overflow: hidden;
  background-color: white;
}
/* main pages */

#home-content{
  position: absolute;
  top: 3em;
  bottom: 0;
  right: 0;
  left: 0;
  border: #89A5C7 dashed thin;
  margin-right: 16em;
}

.sidebar-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 135px;
  z-index: 1020;
  width: 219px;
  overflow: hidden;
  background-color: white;
}
.sidebar-search-fixed{
  border-color: #F1F1F1;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  box-shadow: 0 1px 0 #F1F1F1 inset, 0 1px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  bottom: 105px;
  z-index: 1025;
  width: 219px;
  background-color: #F1F1F1;
}

#sidebar{
  overflow: hidden;
  height: 100%;
}

.sidebar-search-fixed input[type="text"] {
  border-radius: 0;
  width: 190px;
  margin: 0;
  //  box-shadow: none;
  //  border: 0;
}
//.sidebar-search-fixed > .input-append input[type="text"]:focus {
//  box-shadow: none;
//}

.online{
  background-image: url("presence.png");
  background-position: -1px -13px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 10px;
  position: absolute;

}
.offline{
  background-image: url("presence.png");
  background-position: -1px 2px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 10px;
  position: absolute;
}
.away{
  background-image: url("presence.png");
  background-position: -1px -28px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 10px;
  position: absolute;
}
.roster-contact {
  position: relative;
  background-color: #FFFFFF;
}
.roster-name{
  margin-left: 15px;
}


/* chat bottom bar */
.chatbox{
  height: 69px;
  color: #222;
  width: 100%;
  resize: none;

}

.chatbox:focus, .chatbox:active, .chatbox:hover{
  outline: none;
}

.chatboxbtn{
  padding: 25px 25px;
  font-size: 22px;
}


.user-icon-setting{
  background: url("Black_Settings_60.png") left no-repeat;
  height: 19px;
  width: 20px;

}
.facebook{
  background: #FFF url("openid_providers_Facebook.gif") no-repeat center;
}
.google{
  background: #FFF url("openid_providers_Google.gif") no-repeat center;
}

/*search page*/
.search-box-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 50px;
  z-index: 1020;
  overflow: hidden;
  height: 55px;
  background-color: white;
}
.search-result-fixed{
  border-color: #D5D5D5;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 104px;
  bottom: 0px;
  z-index: 1010;
  overflow: hidden;
  background-color: white;
}
#search-box{
  padding-top: 5px;
}

.search-hints{
  font-size: 20px;
  height: 40px;
  padding-top: 15px;
  padding-right: 4px;
  text-align: right;
}
.searchbox-btn{
  padding: 15px 15px;
  font-size: 21px;
}
#search-item{
  height: 40px;
  font-size: 19px;
  float: left;
  width: 50%;
}

